body {
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;
    align-content: center;
    justify-content: center;
}

caption {
    font-weight: bold;
    margin: 5px
}

table, td, th, tr{
    text-align: center;
    border-collapse: collapse;
    border: solid black 1px;
    padding: 10px 65px;
}

th {
    font-weight: bold;
}

#formulario {
    margin: 15px 10px;
}

.input-peque {
    width: 99px;
}